* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
}

input,
button,
textarea,
select {
  font: inherit;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

main {
  display: flex;
  flex-direction: row;
  gap: 80px;
  justify-content: center;
}

#human-player-board,
#computer-player-board {
  border: 2px solid rgba(67, 67, 67, 0.5);
  width: 960px;
  height: 960px;
  display: flex;
  flex-direction: row;
}

#human-player-board div,
#computer-player-board div {
  outline: 0.5px solid rgba(232, 232, 232, 0.5);
  display: flex;
  flex-direction: column;
  flex: 1;
}

#human-player-board div div,
#computer-player-board div div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#instruction {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#ship-type {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.ship-body {
  display: inline-flex;
  align-items: center;
  background-color: grey;
}

.ship-body div {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
  border-right: none;
  padding: 20px solid rgba(255, 109, 109, 0.5);
}

.ship-body div:last-child {
  border-right: 1px solid #333;
}
