* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
}

:root {
  --cell-size: 6rem;
  --ship-color: grey;
  --ship-border: 3px solid #333;
}

html {
  font-size: 62.5%;
}

input,
textarea {
  -webkit-user-select: text;
  user-select: text;
}

body {
  font-size: 1.6rem;
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
}

input,
button,
textarea,
select {
  font: inherit;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

main {
  display: flex;
  flex-direction: row;
  gap: 80px;
  justify-content: center;
}

#human-player-board,
#computer-player-board {
  border: 2px solid rgba(67, 67, 67, 0.5);
  display: flex;
  flex-direction: column;
  width: fit-content;
}

#human-player-board > div,
#computer-player-board > div {
  display: flex;
  flex-direction: row;
}

#human-player-board div div,
#computer-player-board div div {
  width: var(--cell-size);
  height: var(--cell-size);
  outline: 0.5px solid rgba(232, 232, 232, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

#instruction {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
}

#subtitle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  justify-content: flex-start;
}

#direction-btn {
  padding: 5px 20px;
  border-radius: 8px;
  font-size: 2.5rem;
}

.horizontal-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.vertical-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.horizontal-list > div {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.vertical-list > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.horizontal-body {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--ship-color);
}

.vertical-body {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--ship-color);
}

.horizontal-body div {
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--ship-border);
  border-right: none;
}

.horizontal-body div:last-child {
  border-right: var(--ship-border);
}

.vertical-body div {
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--ship-border);
  border-bottom: none;
}

.vertical-body div:last-child {
  border-bottom: var(--ship-border);
}

.placed-ship-cell {
  background-color: var(--ship-color);
  border: var(--ship-border);
  user-select: none;
  -webkit-user-select: none;
}

.already-place {
  background-color: rgb(203, 203, 203);
}

.ship-list {
  width: 80rem;
  height: 50rem;
}

.hit {
  background-color: pink;
}

.miss {
  background-color: lightblue;
}
