* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cell-size: 6rem;
  --ship-color: grey;
  --ship-border: 3px solid #333;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
}

input,
button,
textarea,
select {
  font: inherit;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

main {
  display: flex;
  flex-direction: row;
  gap: 80px;
  justify-content: center;
}

#human-player-board,
#computer-player-board {
  border: 2px solid rgba(67, 67, 67, 0.5);
  display: flex;
  flex-direction: column;
  width: fit-content;
}

#human-player-board > div,
#computer-player-board > div {
  display: flex;
  flex-direction: row;
}

#human-player-board div div,
#computer-player-board div div {
  width: var(--cell-size);
  height: var(--cell-size);
  outline: 0.5px solid rgba(232, 232, 232, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

#instruction {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#ship-type {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#ship-type > div {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.ship-body {
  display: inline-flex;
  align-items: center;
  background-color: var(--ship-color);
}

.ship-body div {
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--ship-border);
  border-right: none;
}

.ship-body div:last-child {
  border-right: var(--ship-border);
}

.placed-ship-cell {
  background-color: var(--ship-color);
  border: var(--ship-border);
  user-select: none;
  -webkit-user-select: none;
}

.already-place {
  background-color: rgb(203, 203, 203);
}
